.card {
	position:relative;
	left:	0;
	top	:	0;
	background-image: url('../CardSprites.jpg');
	background-size: 1300%;
	height: 140px;
	width: 	100px;
	display: inline-block;
	z-index: -1;
}

.card-Back {
	position:absolute;
	top	: 	0;
	left:	0;
	height:140px;
	width: :100px;
	background-image: url('../CardBack.jpg');
	background-position: 0px 0px;
	background-size: contain;
	z-index: 0
}

.card-Ace-Spades {
	background-position: 0.00% 0.00%;
}

.card-Ace-Clubs {
	background-position: 0.00% 33.33%;
}

.card-Ace-Diamonds {
	background-position: 0.00% 66.67%;
}

.card-Ace-Hearts {
	background-position: 0.00% 100.00%;
}

.card-2-Spades {
	background-position: 8.33% 0.00%;
}

.card-2-Clubs {
	background-position: 8.33% 33.33%;
}

.card-2-Diamonds {
	background-position: 8.33% 66.67%;
}

.card-2-Hearts {
	background-position: 8.33% 100.00%;
}

.card-3-Spades {
	background-position: 16.67% 0.00%;
}

.card-3-Clubs {
	background-position: 16.67% 33.33%;
}

.card-3-Diamonds {
	background-position: 16.67% 66.67%;
}

.card-3-Hearts {
	background-position: 16.67% 100.00%;
}

.card-4-Spades {
	background-position: 25.00% 0.00%;
}

.card-4-Clubs {
	background-position: 25.00% 33.33%;
}

.card-4-Diamonds {
	background-position: 25.00% 66.67%;
}

.card-4-Hearts {
	background-position: 25.00% 100.00%;
}

.card-5-Spades {
	background-position: 33.33% 0.00%;
}

.card-5-Clubs {
	background-position: 33.33% 33.33%;
}

.card-5-Diamonds {
	background-position: 33.33% 66.67%;
}

.card-5-Hearts {
	background-position: 33.33% 100.00%;
}

.card-6-Spades {
	background-position: 41.67% 0.00%;
}

.card-6-Clubs {
	background-position: 41.67% 33.33%;
}

.card-6-Diamonds {
	background-position: 41.67% 66.67%;
}

.card-6-Hearts {
	background-position: 41.67% 100.00%;
}

.card-7-Spades {
	background-position: 50.00% 0.00%;
}

.card-7-Clubs {
	background-position: 50.00% 33.33%;
}

.card-7-Diamonds {
	background-position: 50.00% 66.67%;
}

.card-7-Hearts {
	background-position: 50.00% 100.00%;
}

.card-8-Spades {
	background-position: 58.33% 0.00%;
}

.card-8-Clubs {
	background-position: 58.33% 33.33%;
}

.card-8-Diamonds {
	background-position: 58.33% 66.67%;
}

.card-8-Hearts {
	background-position: 58.33% 100.00%;
}

.card-9-Spades {
	background-position: 66.67% 0.00%;
}

.card-9-Clubs {
	background-position: 66.67% 33.33%;
}

.card-9-Diamonds {
	background-position: 66.67% 66.67%;
}

.card-9-Hearts {
	background-position: 66.67% 100.00%;
}

.card-10-Spades {
	background-position: 75.00% 0.00%;
}

.card-10-Clubs {
	background-position: 75.00% 33.33%;
}

.card-10-Diamonds {
	background-position: 75.00% 66.67%;
}

.card-10-Hearts {
	background-position: 75.00% 100.00%;
}

.card-Jack-Spades {
	background-position: 83.33% 0.00%;
}

.card-Jack-Clubs {
	background-position: 83.33% 33.33%;
}

.card-Jack-Diamonds {
	background-position: 83.33% 66.67%;
}

.card-Jack-Hearts {
	background-position: 83.33% 100.00%;
}

.card-Queen-Spades {
	background-position: 91.67% 0.00%;
}

.card-Queen-Clubs {
	background-position: 91.67% 33.33%;
}

.card-Queen-Diamonds {
	background-position: 91.67% 66.67%;
}

.card-Queen-Hearts {
	background-position: 91.67% 100.00%;
}

.card-King-Spades {
	background-position: 100.00% 0.00%;
}

.card-King-Clubs {
	background-position: 100.00% 33.33%;
}

.card-King-Diamonds {
	background-position: 100.00% 66.67%;
}

.card-King-Hearts {
	background-position: 100.00% 100.00%;
}