h1 {
	font-family: Verdana, Geneva, sans-serif;
	text-align: center;
}

section {
	text-align: center;
}

button {
	padding: 10px;
	margin: 10px;
}

.hide {
	visibility: hidden;
}

.cards {
	height: 150px;
}

#player {
	display: inline-block;
}

#game {
	position: relative;
	display: inline-block;
	min-width: 500px;
}

#mid-box {
	height: 50px;
}

#game-result-box {
	height: 50px;
}

.win {
	background-color: green;
}

.lose {
	background-color: red;
}

.push {
	background-color: yellow;
}